<table>
  <thead>
    <tr>
      <th class="p-2">Room number</th>
      <th class="p-2">Room type</th>
      <th class="p-2">Amentities</th>
      <th class="p-2">Price</th>
      <th class="p-2">Checkin Time</th>
      <th class="p-2">Checkout Time</th>
      <th class="p-2">Select room</th>
      <th class="p-2">Delete room</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="text-[#333]"
      [ngClass]="e ? 'bg-gray-100' : ''"
      *ngFor="let room of rooms; let e = even; let o = odd"
    >
      <td class="p-2">{{ room.roomNumber }}</td>
      <td class="p-2">{{ room.roomType }}</td>
      <td class="p-2">{{ room.amentities }}</td>
      <td class="p-2">{{ room.price | currency: "RUB" }}</td>
      <td class="p-2">{{ room.checkinTime | date }}</td>
      <td class="p-2">{{ room.checkoutTime | date }}</td>
      <td class="p-2">
        <!-- <button
          (click)="selectRoom(room)"
          class="py-2 px-4 border rounded bg-blue-500 text-white"
        >
          Select
        </button> -->
        <button
          class="py-1 px-3 bg-gray-900 rounded text-white"
          [routerLink]="['/room', room.roomNumber]"
        >
          Select
        </button>
      </td>
      <td class="p-2">
        <button
          (click)="deleteRoom(room)"
          class="py-2 px-4 border rounded bg-red-500 text-white"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
